<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum - Categories</title>
    <link rel="shortcut icon" href="../assets/img/icons/favicon/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="../css/pages/categories.css">
    <link rel="stylesheet" href="../css/shared/general.css">
    <link rel="stylesheet" href="../css/shared/header.css">
    <link rel="stylesheet" href="../css/shared/button.css">
    <link rel="stylesheet" href="../css/shared/page.css">
    <link rel="stylesheet" href="../css/shared/text-input.css">
    <link rel="stylesheet" href="../css/shared/tile-container.css">
    <link rel="stylesheet" href="../css/shared/logo.css">
    <link rel="stylesheet" href="../css/pages/new-post.css">
    <link rel="stylesheet" href="../css/shared/form.css">
    <link rel="stylesheet" href="../css/shared/checkbox.css">

</head>
<body class="logged">
    <header>
        <div class="logo">
            <img src="../assets/img/icons/favicon/favicon.png" alt="logo">
            <span>Forum romanum</span>
        </div>
        <nav>
            <a href="../index.html">
                <button class="button button--blue button--gray-active">Forum</button>
            </a>
            <a href="../pages/categories.html">
                <button class="button button--blue button--gray-active">Categories</button>
            </a>
        </nav>
        <div class="right">
            <div class="logged">
                <a href="../pages/new-post.html">
                    <button class="button button--white-inverse border new-post-btn">
                        <svg>
                            <use href="../assets/img/icons/icons.svg#edit_square"></use>
                        </svg>
                        <span>New post</span>
                    </button>
                </a>
                <div class="profile">
                    <button class="button profile-picture" translate="no">
                        AD
                    </button>
                    <div class="profile-options tile-container grid expanded">
                        <div class="profile-info profile-options-group" translate="no">
                            <span class="username">Admin</span>
                            <span class="email">oliwiermoskala2@gmail.com</span>
                        </div>
                        <div class="profile-options-group">
                            <a href="../pages/profile.html">
                                <button class="button button--blue">
                                    <svg>
                                        <use href="../assets/img/icons/icons.svg#profile"></use>
                                    </svg>
                                    <span>Profile</span>
                                </button>
                            </a>
                            <a href="pages/categories.html">
                                <button class="button button--blue">
                                    <svg>
                                        <use href="../assets/img/icons/icons.svg#category"></use>
                                    </svg>
                                    <span>Categories</span>
                                </button>
                            </a>
                        </div>
                        <div class="profile-options-group">
                            <button class="button button--red">
                                <svg>
                                    <use href="../assets/img/icons/icons.svg#logout"></use>
                                </svg>
                                <span>Log out</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="new-post-tile">
            <div class="big">New post</div>
            <div class="small">Share something with the community.</div>
            <div class="back-button">
                <a href="../index.html">
                    <button class="button button--back-button">
                        <svg>
                            <use href="../assets/img/icons/icons.svg#arrow_back"><use>
                        </svg>
                        <span>Forum</span>
                    </button>
                </a>
            </div>
            <div class="tile-container">
                <form class="form" data-action="add-new-post">
                    <div class="js-form-field form-field js-title">
                        <label>
                            <div class="filed-name">Title</div>
                            <input type="text" class="text-input" placeholder="A clear specific title">
                        </label>
                        <div class="error"></div>
                    </div>
                    <div class="js-form-field form-field js-content">
                        <label>
                            <div class="filed-name">Content</div>
                            <textarea class="text-input" placeholder="Write your post..."></textarea>
                        </label>
                        <div class="error"></div>
                    </div>
                    <div class="js-form-field form-field categories">
                        <div>Cartegories</div>
                        <div class="js-categories options">
                            <div class="checkbox-fill-button checkbox--fill-accent">
                                <label>
                                    <input type="checkbox">
                                    <div class="label">programing</div>
                                </label>
                            </div>
                            <div class="checkbox-fill-button checkbox--fill-accent">
                                <label>
                                    <input type="checkbox">
                                    <div class="label">linux</div>
                                </label>
                            </div>
                        </div>
                        <div class="error"></div>
                    </div>
                    <div class="form-options">
                        <a href="../index.html">
                            <button type="button" class="button button--back-button border">
                                Cancel
                            </button>
                        </a>
                        <button type="submit" class="button button--white-inverse border">
                            Publish
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <script src="../scripts/pages/newPost.js" type="module"></script>
</body>
</html>