.add-category
{
    display: flex;
    align-items: stretch;
    gap: 10px;
    margin-bottom: 20px;
}
.add-category input[type="text"]
{
    flex-grow: 1;
}
.categories.tile-container
{
    font-size: clamp(0.95rem, 1.4vw, 1.1rem);
}
.categories.tile-container .category
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.categories.tile-container .category .options button
{
    padding-inline: clamp(0px, 0.5vw, 10px);
}
.categories.tile-container .category .options button svg
{
    height: clamp(15px, 6.5vw, 24px) !important;
}
@media (max-width: 405px)
{
    .add-category
    {
        flex-direction: column;
    }
    .add-category button
    {
        justify-content: center;
    }
}