.filters
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 7px;
}
.filters > div > *
{
    height: 30px;
}
.filters .search
{
    position: relative;
}
.filters .search input
{
    padding-left: 30px;
}
.filters .search .search-icon
{
    z-index: 50;
    position: absolute;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    padding-left: 4px;
}
.filters .search .search-button svg
{
    fill: var(--text-color-primary);
}