.form input, .form textarea
{
    margin-block: 7px 5px;
    width: 100%;
    font-size: 1.07rem;
}

.form div.error
{
    color: var(--red-color);
    font-size: 0.8rem;
    display: none;
}

.form div.error.active
{
    display: block;
}
.form > .form-field
{
    margin-bottom: 10px;
}