@font-face {
    font-family: Roboto;
    src: url("../../assets/fonts/Roboto/Roboto-Light.ttf");
    font-weight: 300;
}
@font-face {
    font-family: Roboto;
    src: url("../../assets/fonts/Roboto/Roboto-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: Roboto;
    src: url("../../assets/fonts/Roboto/Roboto-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: Roboto;
    src: url("../../assets/fonts/Roboto/Roboto-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: Roboto;
    src: url("../../assets/fonts/Roboto/Roboto-ExtraBold.ttf");
    font-weight: 900;
}



:root
{
    --background-color: rgb(19, 19, 19);
    --foreground-color: rgb(34, 34, 34);
    --border-color: rgb(90, 90, 90);
    --text-color-primary: rgb(231, 231, 231);
    --text-color-secondary: rgb(120, 120, 120);
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    color: var(--text-color-primary);
    min-height: 100dvh;
    font-family: Roboto;
    font-weight: 400;
}