@font-face {
    font-family: Roboto;
    src: url("../../assets/fonts/Roboto/Roboto-Light.ttf");
    font-weight: 300;
}
@font-face {
    font-family: Roboto;
    src: url("../../assets/fonts/Roboto/Roboto-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: Roboto;
    src: url("../../assets/fonts/Roboto/Roboto-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: Roboto;
    src: url("../../assets/fonts/Roboto/Roboto-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: Roboto;
    src: url("../../assets/fonts/Roboto/Roboto-ExtraBold.ttf");
    font-weight: 900;
}



:root
{
    --background-color: rgb(19, 19, 19);
    --foreground-color: rgb(28, 28, 28);
    --border-color: rgb(69, 69, 69);
    --text-color-primary: rgb(231, 231, 231);
    --text-color-secondary: rgb(140, 140, 140);
    --red-color: rgb(252, 64, 64);
    --sublime-red-color: rgba(212, 23, 23, 0.127);
    --accent-color: rgb(19, 139, 225);
    --sublime-color: rgba(19, 139, 225, 0.137);
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*::-webkit-scrollbar
{
    background-color: var(--foreground-color);
    cursor: default;
}
*::-webkit-scrollbar-button
{
    display: none;
}
*::-webkit-scrollbar-thumb
{
    background-color: var(--background-color);
    border-radius: 7px;
    border: 1px solid var(--text-color-secondary);
    cursor: default;
}
body
{
    min-height: 100dvh;
}
body, button, input
{
    color: var(--text-color-primary);
    font-family: Roboto;
    font-weight: 400;
    font-size: 15px;
}
a
{
    text-decoration: none;
}
a:hover
{
    text-decoration: underline;
}
a button
{
    height: 100%;
    text-decoration: none;
}
.accent
{
    color: var(--accent-color);
}
