:root
{
    --header-height: 56px;
}

body
{
    padding-top: calc(var(--header-height));
}

header
{
    display: flex;
    align-items: stretch;
    gap: 20px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    background-color: var(--background-color);

    height: var(--header-height);
    padding-inline: clamp(20px, 6vw, 200px);
    padding-block: 10px;

    border-bottom: 1px solid var(--border-color);
    box-shadow: 0 1px 5px var(--border-color);
}
header .logo
{
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 1.1rem;
    text-wrap: nowrap;
}
header .logo img
{
    height: 100%;
}
header nav
{
    display: flex;
    gap: 7px;
}
header nav a
{
    display: inline-flex;
    text-decoration: none;
}
header .right
{
    margin-left: auto;
}

header .right > div
{
    display: flex;
    gap: 10px;
    height: 100%;
}
header .right > div:first-child
{
    display: none;
}
header .right.logged-in > div:first-child
{
    display: flex;
}
header .right.logged-in > div:last-child
{
    display: none;
}

header .new-post-btn
{
    text-wrap: nowrap;
}

header .profile
{
    position: relative;
}
header .profile .profile-picture
{
    background-color: var(--foreground-color);
    border-radius: 50%;
    height: 100%;
    border: none;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px transparent;
    transition: box-shadow 200ms ease-in-out;
}
header .profile .profile-picture:hover
{
    box-shadow: 0 0 5px var(--text-color-primary);
}

header .profile .profile-options
{
    display: none;
    position: absolute;
    z-index: 100;
    top: calc(100% + 5px);
    right: 0;
    min-width: 200px;
    overflow: hidden;
    padding: 0;
}
header .profile .profile-options a
{
    text-decoration: none;
}
header .profile .profile-options button
{
    width: 100%;
}
header .profile .profile-options.expanded
{
    display: block;
}

header .profile .profile-options .profile-options-group
{
    border-bottom: 1px solid var(--border-color);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
header .profile .profile-options .profile-options-group:last-child
{
    border: none;
}
header .profile .profile-options .profile-info
{
    padding: 15px;
}
header .profile .profile-options .profile-info .email
{
    color: var(--text-color-secondary);
    font-size: 0.8rem;
}
@media (max-width: 660px)
{
    header nav
    {
        display: none;
    }
}
@media (max-width: 400px)
{
    header button.new-post-btn span
    {
        display: none;
    }
}
@media (max-width: 320px)
{
    header .logo span
    {
        display: none;
    }
}