:root
{
    --header-height: 56px;
}

body
{
    padding-top: calc(var(--header-height) + 1px);
}

header
{
    display: flex;
    align-items: center;
    gap: 10px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    background-color: var(--background-color);

    height: var(--header-height);
    padding-inline: clamp(20px, 6vw, 200px);
    padding-block: 4px;

    border-bottom: 1px solid var(--border-color);
    box-shadow: 0 1px 5px var(--border-color);
}
nav
{
    margin-right: auto;
}