main
{
    background-color: var(--background-color);
    min-height: calc(100dvh - var(--header-height));
    padding-inline: 15%;
    padding-block: 30px;
}
main .back-button
{
    margin-bottom: 10px;
}
main .back-button button
{
    padding: 6px 10px;
    font-size: 1.05rem;
}