input[type="text"],
input[type="search"],
input[type="email"],
input[type="password"],
.text-input
{
    background-color: var(--background-color);
    color: var(--text-color-primary);
    border: none;
    padding: 5px 10px;
    font-size: 1.05rem;
    border: 1px solid var(--border-color);
    border-radius: 7px;
    min-width: 0;
}
.text-input.error
{
    outline: 1px solid var(--red-color);
}

input[type="text"]::placeholder,
input[type="search"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder,
.text-input::placeholder
{
    color: var(--text-color-secondary);
}

input[type="text"]:focus,
input[type="search"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
.text-input:focus
{
    outline: 1px solid var(--accent-color);
}
input:focus.error
{
    outline: 1px solid var(--red-color);
}