.tile-container
{
    /* display: block; */
    background-color: var(--foreground-color);
    border: 1px solid var(--border-color);
    border-radius: 7px;
    padding: 15px;
}
.tile-container.grid
{
    /* padding: 0; */
}
.tile-container.grid > *
{
    border-bottom: 1px solid var(--border-color);
    padding-block: 10px;
    display: flex;
    gap: 5px;
}
.tile-container.grid > *:first-child
{
    padding-top: 0;
}
.tile-container.grid > *:last-child
{
    border: none;
    padding-bottom: 0;
}
.tile-container.danger
{
    border-color: var(--red-color);
}